<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <div class="first">
    <img src="/assets/images/placeholder.png" alt="this is just a placeholder" class="image">
  </div>
  <div class="second">
    <img src="/assets/images/placeholder.png" alt="this is just a placeholder" class="image">
  </div>
  <div class="third">
    <img src="/assets/images/placeholder.png" alt="this is just a placeholder" class="image">
  </div>
  <div class="fourth">
    <img src="/assets/images/placeholder.png" alt="this is just a placeholder" class="image">
  </div>
</div>
