<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navigation">
  <li><input type="text" placeholder="「Link 1」" class="placeholder"></li>
  <li><input type="text" placeholder="「Link 1」" class="placeholder"></li>
  <li><input type="text" placeholder="「Link 1」" class="placeholder"></li>
  <li><input type="text" placeholder="「Link 1」" class="placeholder"></li>
</nav>
