/* You can add global styles to this file, and also import other style files */
/* import global fonts here */

* {
  margin: 0;
  background-color: #000;
  color: #fff;
}
.placeholder {
  border: none;
}
